@import 'bootstrap/scss/bootstrap';
@import './services.scss';
@import './footer.scss';

//service start
.service {
    border-radius: 30px;
    border: 1px solid var(--Gris-PDT, #D9D9D9);
    background: var(--Blanco-PDT, #FFF);
}

.service p {
    color: var(--Negro-PDT, #171D2A);
    font-family: Montserrat-light;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.home-services {
    width: 88%;
}


.home-services .card {
    width: 252px;
    height: 347px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
}

//service end


//fonts start

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../../public/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}


@font-face {
    font-family: 'Montserrat-Light';
    src: url('../../public/assets/fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../public/assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-black';
    src: url('../../public/assets/fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
}

body {
    /*font-family: Montserrat-Regular;*/
}

.main-container {
}

.navbar a {
    font-family: Montserrat-Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    color: white;
}

.nav-contact a {
    font-family: Montserrat-Bold;
    color: #FFF;
    font-weight: 700;
}

.footer-font {

    color: var(--Blanco-PDT, #FFF);
    font-family: Montserrat-bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.footer-p {
    color: var(--Blanco-PDT, #FFF);
    font-family: Montserrat-regular;
    font-size: 16px;
    font-weight: 300;
}


.client {
    color: var(--Negro-PDT, #171D2A);
    font-family: Montserrat-black;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    /* Agrega un margen superior para separar el texto del contenido */
}

.idea {
    color: var(--Negro-PDT, #171D2A);
    font-family: Montserrat-black;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    /* Agrega un margen superior para separar el texto del contenido */
}

.idea-two {
    color: var(--Negro-PDT, #171D2A);
    font-family: Montserrat-bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 19px;
    /* Agrega un margen superior para separar el texto del contenido */
}

.idea_parraf {
    color: var(--Negro-PDT, #171D2A);
    font-family: Montserrat-Light;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

label {
    color: var(--Negro-PDT, #171D2A);
    font-family: Montserrat-bold;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

//font end

//circle start

.circle-pdt {
    transform: translate(-50%, -50%);
    position: absolute;
    /* Establece una posición absoluta para el contenido */
    left: 50%;
    /* Centra el contenido horizontalmente en el contenedor */

    border-radius: 336px;
    background: var(--Blanco-PDT, #FFF);
    box-shadow: 12px 15px 16px 0px rgba(0, 0, 0, 0.25);
    width: 336px;
    height: 336px;
    flex-shrink: 0;
}

.circle-pdt svg {
    position: absolute;
    /* Establece la posición absoluta para el SVG */
    top: 50%;
    /* Centra verticalmente */
    left: 50%;
    /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    /* Centra el SVG correctamente */
}

//circle pdt end

//dog start
@keyframes rotateTail {
    0% {
        transform: rotateY(0deg);
    }

    25% {
        transform: rotateY(15deg);
    }

    50% {
        transform: rotateY(0deg);
    }

    75% {
        transform: rotateY(-15deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

//dog end 
//navbar start 
.button-cont {
    color: var(--Rojo-PDT, #DE383F);
    height: 27px;
    display: flex;
    align-items: center;
    padding: 5px 18px;
    /* Cambia el color de fondo al pasar el cursor */

}

.nav-ul-flex{
    display: flex;
    align-items: center;
}

.button-cont:hover {

    color: white;
    /* Cambia el color de fondo al pasar el cursor */

}

.fill {
    border-radius: 13.5px;
    background: var(--Blanco-PDT, #DE383F);

}

//navbar end


//background

.background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-note-footer {
    position: relative;
    top: 55%;
    left: 5%;
    display: flex
}

.hero-note-regtangle {
    width: 6px;
    height: 84px;
    background-color: #DE383F;
    border-radius: 20px;
    margin-right: 14px;
}

.hero-note-footer-text {
    font-size: 30px;
    color: #FFF;
    font-weight: 100;
    letter-spacing: 3px;
}

.hero-note-footer-text-bold {
    font-size: 30px;
    color: #FFF;
    font-weight: 700;
}

.hero-note-flex {
    display: flex;
    height: 31px;
}

.hero-note-flex-2 {
    display: flex;
    height: 31px;
    margin-top: 10px;
}

.hero-note-footer-location {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 90vh;
    display: flex;
    justify-content: center;
}

.hero-note-footer-container {
    display: flex;
    width: 80%;
    height: 4px;
    justify-content: space-between;
    margin: auto;
}

.hero-note-footer-location-pagination {
    width: 23%;
    height: 4px;
    background-color: #FFF;
    border-radius: 14px;
}

.hero-note-footer-location-pagination-select {
    width: 23%;
    height: 4px;
    background-color: #DE383F;
    border-radius: 14px;
}

.hero-note-footer-container-icons {
    position: absolute;
    width: 100px;
    height: 84px;
    right: 5%;
    top: 66%;
    display: flex;
    justify-content: space-between;
}



.hero-note-footer-container-icons img {
    height: 29px;
    width: 27px;
    margin: 0; 
    flex-shrink: 0;
}

/* Estilos para el contenedor principal de contenido */
body {
    overflow-y: scroll;
    /* Agrega una barra de desplazamiento vertical cuando sea necesario */
    height: 100vh;
    /* Ocupa toda la altura de la ventana */
}


//bombillo start
#bulb {
    background-color: black;
    padding-bottom: 15%;
    margin-top: -100px;
}



@keyframes parpadeo {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}



@keyframes parpadeoText {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: .2;
    }
}


#content {
    background-color: black;
    display: flex;
    justify-content: center;

}

#content-bombilla {
    position: relative;
    height: 1000px;
}

#bombilla {
    width: 1266px;
    position: absolute;
    z-index: 100;
    top: -180px;
}



#luz {
    position: relative;
    width: 1266px;
    z-index: 200;
    opacity: 0;
    top: -180px;
}

.content-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-item-left {
    position: absolute;
    top: 300px;
    left: 50px;
}

.content-item-right {
    position: absolute;
    top: 300px;
    right: 50px;
}

.content-items .item p {
    font-family: Montserrat-Light;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}

.text-align-right p {
    text-align: right;
    line-height: 3%;
}

.text-align-left p {
    text-align: left;
}

.margin-left {
    margin-left: 65px;
}


.item {
    opacity: 0;
    padding: 7% 5%;
    height: 150px;
}

.item-especial {
    width: 250px;
}

.item-option {
    display: flex;
    align-items: start;
}

.item img {
    margin-right: 10px;
}

//bombillo end


.circulo {
   
    /* Altura del círculo, igual que el ancho para que sea un círculo perfecto */
    border-radius: 50%;
    /* Establece el radio de borde al 50% para crear un círculo */
  
    /* Espacio entre los círculos */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    /* Ancho del círculo */
    height: 30px;
    /* Altura del círculo, igual que el ancho para que sea un círculo perfecto */
    background-color: #DE383F;
    /* Color de fondo del círculo */
    border-radius: 50%;
}

.circulo-two {
   
    /* Altura del círculo, igual que el ancho para que sea un círculo perfecto */
    border-radius: 50%;
    /* Establece el radio de borde al 50% para crear un círculo */
  
    /* Espacio entre los círculos */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    /* Ancho del círculo */
    height: 48px;
    /* Altura del círculo, igual que el ancho para que sea un círculo perfecto */
    background-color: #DE383F;
    /* Color de fondo del círculo */
    border-radius: 50%;
}

.circulo svg {
    width: 100%;
    /* Ajusta el tamaño de la imagen para que se ajuste al círculo */
    height: auto;
}

.circulo-two svg {
    width: 100%;
    /* Ajusta el tamaño de la imagen para que se ajuste al círculo */
    height: 26px;
}

// our clients
.our-client-section {
    margin-top: 250px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// video section 
.video-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.video-section-container-one {
    max-width: 460px;
}

#contact-content {
    padding-top: 100px;
    width: 95%;
    margin: auto;
    padding-bottom: 150px;
}

// dog section
.dog-content-two {
    padding-left: 44px;
    padding-top: 10px;
    height: 640px;
}

.button-services-dog-section p{
    font-size: 14px;
    height: 46px;
    width: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #171D2A
}

.dog-section-text-area {
    border: 1px solid #D9D9D9;
    margin-bottom: 28px;
}

.dog-section-button-send {
    background-color: #171D2A;
    height: 62px;
    border-radius: 18px;
    width: 98%;
}

.footer-container {
    padding-top: 30px;
    padding-bottom: 100px;
}

.follow-icons-group {
    display: flex;
}

.follow-icons-group svg{
    width: 15.17px;
    height: 15.17px;
}

.follow-icons-group .circulo-two svg{
    width: 24px;
    height: 24px;
}

.text-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test {
    position: relative;
    top: 180px;
    left: -200px;
    width: 439px;
    font-size: 26px;
}

.test-children {
    display: flex;
    padding-top: 10px;
}

.test-children-container-two {
    display: flex;
    margin-left: -30px;
    margin-top: 18px;
    margin-bottom: 57px;
}

.test-children-container-three {
    display: flex;
    margin-left: -20px;
    margin-top: 11px;
}

.test-children-one {
    height: 96px;
    width: 96px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.test-children-two {
    margin-left: 22px;
    font-size: 14px;
    height: 96;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.test-two {
    position: relative;
    top: 180px;
    left: -200px;
    width: 439px;
    font-size: 26px;
    margin-top: 46px;
}

.item-card:hover .title-card-service {
    opacity: 1;
  }

.title-card-service{
    opacity: 0;
    position: absolute;
    bottom: 0;
    color: white;
    padding-left: 20px;
    width: 100%;
    padding-top: 10px;
    transition: background 0.5s ease;
    background: linear-gradient(to top, rgba(232, 28, 28, 0.8), transparent);
    transition: opacity 0.5s ease;
    opacity: 1;
}


.text-card-service{
    font-size: 24px;
    margin: 0;
    line-height: 24px;
}

.text-card-service-two{
    
    margin: 0;   
    line-height: 18px;
    margin-top: 6px;

    span{
        font-size: 24px;
    }
}



.content-text-service{
    margin-bottom: 10px;
    border-left: 2px solid white;
    padding-left: 13px;

}

.text-service{
    text-align: left;
    font-weight: 100;

    b{
        font-weight: 900;
    }
}



.container-svg{
    cursor: pointer;
}

.service-image{
    display: none;

    &.active{
        display: block;
    }

    .title-service{
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: white;
        margin-top: -83px;
        position: absolute;
        margin-left: 38px;
    }
}

#content-services{
    h3{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    p{
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 23px;
        text-align: left;
    }
}
.container-services{
    display: none;

    &.active{
        display: inline-flex;
        width: 100%;
    }
}



#abouts{
    
    p{
        font-size: 16px;
        font-style: normal;
        font-weight: lighter;
        line-height: normal;
        color: white;
    }

    h3{
        color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
}

#welcome-text{
    background: #dc3545;
    text-align: center;
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: bold !important;
    line-height: normal;
}

#our-team{
    h1{
        color: white;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


    .btn-option{
        text-align: left;
        padding-left: 40px !important;
        font-size: 18px;
        font-style: normal;
        font-weight: lighter;
        line-height: normal;

    }

    #contact-content{
        p{
            position: absolute;
            bottom: 35px;
            left: 30px;
            width: 59%;
            line-height: 23px;
        }
    }
}


#logo{
    display: none;
    width: 95.648px;
    height: 38px;
    margin-top: 30px
}


#portfolio{

    .item-portfolio{
        position: relative;
        height: 424px;
        .image{
            width: 100%;
            height: 424px;
        }

        .content-text-portfolio{
            position: absolute;
           
            border-left: 2px solid white;
            padding-left: 10px;

            &.top{
                top: 20px;
            }

            &.bottom{
                bottom: 20px;
            }

            &.left{
                left: 20px;
            }

            &.right{
                right: 20px;
            }

            .text-card-service{
                font-size: 20px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                letter-spacing: 0px;
            }

            .text-card-service-two{
                span{
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 900;
                    font-weight: lighter;
                }
            }
        }

        
    }
}

