.container-message-hero { 
    margin-top: 173px;
}

.container-message-hero-text {
    width: 380px;
    text-align: justify;
}

.container-message-hero-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 25px;
}

.container-dog-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-banner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.test-margin {
    margin-top: 0px;
    transition: transform 0.5s ease-in-out;
}

.test-margin-select {
    margin-top: -110px;
}

.container-services {
    padding-top: 70px;
    width: 1187px;
    margin: auto;
    padding-bottom: 152px;
}

.container-services div h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 17px;
}

.container-services div p{
    text-align: justify;
    font-size: 16px;
}

.container-service-separator {
    height: 136px;
}

.container-own-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-own-services button{
    width: 433px;
    height: 60px;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-color: #DE383F;
    border-radius: 14px;
    border: 1px solid #DE383F;
}

.container-our-service {
    padding-bottom: 130px;
}


